body {
  margin: 0;
  font-family: "SF";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-family: "SF Bold";
}
@font-face {
  font-family: 'SF';
  src: url(./fonts/sf.OTF);
}
@font-face {
  font-family: 'SF Bold';
  src: url(./fonts/sf_bold.OTF);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
